/dist
/Scripts
/[Ll]ib
/share
/.pytest_cache
/.ipynb_checkpoints
/etc
/Include
/bin
/.vscode
/venv

__pycache__/
.DS_Store
MANIFEST

*.xlsx
*.csv
*.cfg
*.ipynb
*.json
*.txt
test.py

*.ipynb
*.egg-info/
dist/
__pycache__/
.pytest_cache/
play.py

.DS_Store
pyvenv.cfg
*.csv
*.xlsx
test.*